body {
  margin: 0;
  background: #111;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#controls {
  margin: 10px;
}

canvas {
  border: 1px solid #555;
  background-color: white;
}
